#> ide
/.vscode
/.idea

#> local
/local.mk
**/*.local
**/local.*
/test
/experiments
/output
# data
/results
/*.csv
# scripts
# /scripts
/*.sh

#> generated
/.venv
**/__pycache__
**/yosys_graph.log
**/yosys_log.txt
# input
/input/*
!/input/ver.bak

#> misc
Laura/
*.xlsx
.DS_Store
