#> ide
/.vscode
/.idea

#> local
/local.mk
**/*.local
**/local.*
/test
/experiments
/output
# data
/results
/*.csv
# scripts
/scripts
/*.sh

#> generated
/venv
/.venv
**/__pycache__
**/yosys_graph.log
**/yosys_log.txt
.history_sta
# input
/input/*
!/input/ver.bak

#> misc
Laura/
*.xlsx
.DS_Store
